.doTitle {
    font-size: 25px;
    text-align: center;
    color: white;
    margin-bottom: 50px;
}

.todoA {
    color: blue;
}

.test {
    margin: 40px;
}

.toodoTitle {
    margin: 40px;
}

.newname {
    margin: 40px;

}