

.inputBox {
    margin-top: 10px;
}


.tododButton {
    a {
        display: block;
        width: 150px;
        margin: auto;
        border-radius: 20px;
    }

}

.inputTitleTodo{
    margin-bottom: -5px;
}