.titleEmptyTask {
    margin-top: 100px;
    text-align: center;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    width: 100%;
    flex-direction: row;
    background-color: #f6f6f6;
    padding: 10px 3px 3px 7px;
    margin-bottom: 10px;
}

.todo.complited span {
    text-decoration: line-through;
}

.todoListBox{
    margin-top: 60px;
}